/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  height: 650px;
  margin-bottom: 0px;
  width: 100%;
  padding: 0;
  margin-top: -10px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 650px;
  background-color: #777;
  z-index: -5001;
}
.carousel-inner > .item > img {
  position: relative;
  top: 0;
  left: 0;
  size: cover;
  width: 100%;
  z-index: -5000;
}

.marquee {
  width: 100%;  /* Container's dimensions */
  height: 150px;
  background-image: url("img/dai-cassandra-cropped.jpg");
  background-size: 100% cover;
  background-position: bottom;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
